body {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/product-sans-regular.woff2') format('woff');
}

.container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding:50px;
    margin-bottom: 20px;
}

.card {
    display: block;
    z-index: 1;
    margin: 50px;
}

.hidden {
    display: none;
}

.padd {
    padding-bottom: 15px;
}

.onegai {
    margin-left: 0.3em;
}

.darling {
    padding-right: 0.3em;
}

.product {
    font-family: 'Product Sans';
}
